.container {
  height: 100vh;
  width: 100vw;

  padding: 0 0.5rem;

  overflow-y: auto;
}

.main {
  width: 100%;
  max-width: 768px;

  margin: 0 auto;
  padding: 5rem 0;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  flex-shrink: 0;

  border-radius: 50%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.main p {
  text-align: center;
}

.main p {
  line-height: 1.5;
  font-size: 1.5rem;
}

.main a {
  transition: 0.1s all ease-in-out;
}

.main a:hover {
  opacity: 0.8;
}

.social {
  width: 100%;

  margin-top: 40px;

  display: flex;
  justify-content: center;

  gap: 20px;
}

@media (max-width: 768px) {
  .main h1 {
    font-size: 2.5rem;
  }

  .main p {
    font-size: 1.2rem;
  }
}
